/* reset ALL style in html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    max-height: 100%;
    position: sticky;
    font-family: 'poppins', sans-serif;
}

::selection {
    background: #1b1b1b;

}

.navbar {
    width: 100%;
    height: 2.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.125rem;
    background: #000000;
    z-index: 9;
}

.links-container {
    display: flex;
    list-style: none;
}

.link {
    margin-top: .625rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #da3107;
}

.header {
    max-width: 100%;
    position: relative;
    height: 41.25rem;
    background: url(../images/blog_wallpaper.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /* justify-content: center;
    align-items: center; */
}

.content {
    margin-left: 6rem;
    font-size: 12rem;
}

.heading {
    color: #fff;
    text-transform: capitalize;
    font-size: 6vw;
    line-height: 8vw;
    /* margin-bottom: 6vw; */
}

.heading .small {
    padding-top: 7.5rem;
    display: block;

    font-size: 2.5vw;
}

.heading .no-fill {
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 0.2vw #fff;
}

.nav_section {
    /* max-width: 100%; */
    padding: 6rem;
    /* display: block;
    text-align: justify; */
}



/* links styling */

a:link {
    color: #3914EE;
}

a:visited {
    color: #76339A;
}

a:hover {
    font-weight: bold;
}

a:active {
    click n hold in order to see it properly color: #3914EE text-decoration: none;
}




/* blog section */

.blogs-section {
    /* border: solid 1px red; */
    max-width: 100%;
    margin: 0 20rem;
    padding: 1rem;
    display: block;
    text-align: justify;
    /* font-size: 1vw; */

}

.blogs-section div p img{
    margin: 0;
    padding: 0;
    text-align: justify;
}

.btn.dark {
    background: #1b1b1b;
    color: #fff;
}

/* post 1 */


.blog-image {
    max-width: 100%;
    object-fit: cover;
    border-radius: 1.188rem;
    margin-bottom: 1.188rem;
}

.blog-title {
    font-size: 2.375rem;
    font-style: bold;
    text-align: center;
    margin: 2.375rem;
}



.blog-overview {
    margin: 6rem 0 18rem;
    line-height: auto;
}

/* 

tables

*/

table{
    border-collapse: collapse;
}

td {
    border: 2px solid black;
}

td h4 {
    width: 30rem;
}

th {
    padding: 1rem;
}