.body {
  background-image: url("./Images/website-design-plan.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Resize the background image to cover the entire container */
  font-family: "Arimo", sans-serif;
}

.main-menu {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.main-menu li a {
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  text-decoration: none;
}

.home {
  position: fixed;
  top: 20px;
  left: 57.7%;
}
.history {
  position: fixed;
  top: 20px;
  left: 63.3%;
  padding: 1px;
}
.work {
  position: fixed;
  top: 20px;
  left: 69.8%;
}
.contact {
  position: fixed;
  top: 149px;
  left: 57.3%;
}

.main-menu a:hover {
  color: rgb(171, 76, 4);
  background-color: white;
}

.test{
  border: 1px solid red;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
}


/* Social Media
.social{
  border: 1px solid red;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 500px;
} */

/* .social-media {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  padding: 0;
} */

.social-media div {
  width: 40px;
  height: 5px;
  background-color: #9581f4;
  margin: auto;
}

.social-media li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  margin: 0 20px;
}

.social-media li span {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}

.social-media li:hover span {
  transition: 0.3s;
}

.social-media li:nth-child(2):hover span {
  background: #2c3456 !important;
}

.social-media li:nth-child(3):hover span {
  background: #6a9aee !important;
}

.social-media li:nth-child(4):hover span {
  background: #cc296c !important;
}

.social-media li:nth-child(5):hover span {
  background: #2c3456 !important;
}
